<!doctype html>
<html ng-app="app">
  <head>
    <script src="./lib/angular/angular.js" ></script>
    <script src="./app.js" ></script>
    <title>
      Question Queue
    </title>
  </head>
  <body>

    <!-- Question submit form -->
    <div>
      <form ng-controller="FormController as form" ng-submit="submitQuestion()">
        <input type="text" placeholder="Your name" name="name" ng-model="question.name">
        <textarea placeholder="Ask a question" ng-model="question.body" required></textarea>
        <input placeholder="Add a link" ng-model="question.link" >
        <button type="submit" >Submit</button>
      </form>
    </div>

    <!-- List of pending questions -->
    <div ng-controller="QuestionViewController as qView">
      <div ng-repeat="question in questions">
        <p>
          {{question.body}}
        </p>
        <cite>asked on {{question.createdAt | date}}</cite>
        <span>Votes: {{question.votes}}</span>
        <div>
          <button ng-click="upvote(question)">&uarr;</button>
          <button ng-click="markAsAnswered(question)">X</button>
        </div>
      </div>
    </div>
  </body>
</html>
